*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}
body{
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(background.png) no-repeat fixed 0 0;
    height: 140vh;
    background-size: cover;
    background-position: center;
    -webkit-text-size-adjust: 100%;
    position: static;
}
ul{
    float: right;
    margin-top: 35px;
}
ul li{
    display: inline-block;
}
ul li a{
    text-decoration: none;
    color: #fff;
    padding: 5px 20px;
    border: 2px solid #fff;
    border-radius: 20px;
    transition: 0.6s;
    margin: 10px;
    font-size: 12px;
    font-weight: bold;
}
ul li a:hover{
    background-color: #fff;
    color: #000;
}
ul li.active a{
    background-color: #fff;
    color: #000;
}
.logo img{
    float: left;
    width: 100px;
    height: auto;
    margin-top: 10px;
}
.navbar{
    max-width: 1200px;
    margin: auto;
}
.contents{
    position: absolute;
    width: 100%;
    top: 50%;
    transform:translateY(-36%);
    text-align: center;
}
.contents h1{
    color: #fff;
    font-size: 50px;
    text-shadow: -4px 4px 4px #000;
}
.color{
    color: blue;
}
.contents p{
    color: white;
    font-size: 20px;
    text-align: center;
    margin: 20px auto;
}
.button{
    position: absolute;
    top: 50%;
    Left: 38%;
    margin-top: 100px;
    font-weight: bold;
}
.btn{
    border: 2px solid #fff;
    padding: 10px 30px;
    color: #fff;
    text-decoration: none;
    transition: 0.6s ease;
    border-radius: 20px;
    margin: 10px;
    background-color: rgb(0, 132, 255);
    margin-left: 7px;
    margin-right: 28px;
}
.btn:hover{
    background-color: blue;
    color: #fff;
}
.left{
    float: left;
    display: block;
}
.right{
    float:right;
    display: block;
}
img.tengah {
    transform:translateY(70%);
    margin-right: 0%;
    margin-left: 34.5%;
    border-width: 2px;
    border-style: solid;
    border-color: black;
}
section {
    position: absolute;
    width: 100%;
    top: 70%;
    text-align: center
}
section h1 {
    text-align: center;
    padding: 10px;
    color: white;
    margin-bottom: 10px;
}
.about p {
    color: white;
    word-spacing: 2px;
    line-height: 25px;
    text-align: center;
}
.university {
    text-align: center;
    color: white;
    margin-top: -20%;
}
img.middle {
    width: 25%;
    margin-top: 2%;
    border-style: solid;
    border-color: black;
}
.school p{
    color: white;
    word-spacing: 2px;
    line-height: 25px;
    text-align: center;
    padding: 20px;
    margin-bottom: auto;
}
section h3 {
    margin-top:-180px;
    margin-right: 50%;
    color: white;
}
section h4 {
    margin-top:-180px;
    margin-left: 50%;
    color: white;
}
section h5 {
    text-align: center;
    color: white;
    margin-right: 10px;
    margin-top: 80px;
}
img.kiri {
    width: 20%;
    margin-right: 50%;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    margin-top: 10px;
}
img.kanan {
    width: 20%;
    margin-left: 50%;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    margin-top: 10px;
}
img.bawah {
    width: 20%;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    margin-top: 10px;
}
.HMTI h2 {
    color: white;
    margin-top: -55mm;
    width: 50%;
    margin-left: 5%;
}
img.logo {
    width: 15%;
    margin-left: 65mm;
    transform: translateY(-80%);
    position:absolute;
    border-color: black;
}
.HMTI p {
    text-align: justify;
    width: 50%;
    color: white;
    margin-left: 5%;
    margin-top: 20px;
    word-spacing: 2px;
    line-height: 25px;
    text-indent: 40px;
}
.history h3 {
    color: white;
    width: 100%;
    margin-top: 60px;
}
.history p{
    color: white;
    width: auto;
    word-spacing: 2px;
    line-height: 25px;
    padding: 20px;
}
.visi h1{
    color: white;
    text-align: center;
}
.visi p{
    color:white;
    word-spacing: 2px;
    line-height: 25px;
}
.misi p{
    color:white;
    text-align: justify;
    word-spacing: 2px;
    line-height: 25px;
    padding: 15px;
    margin-left: 58px;
}
.service {
    top: 36%;
}
.box {
    border-radius: 2px;
    color: white;
}
.box .col-4 {
    width:25%;
    padding:20px;
    box-sizing: border-box;
    text-align: center;
    float: left;
    border: 1px solid;
}
.box .col-4 h3{
    margin: 3px;
}
img.mid {
    width: 50%;
    margin-left: 15%;
    transform: translateY(130%);
    border-style: solid;
    border-color: black;
}